{% extends "Portfolio/base.html" %}
{% load static %}
{% block title %}About {% endblock %}

{% block content %}
<div class="container text-center">
    <h1>About Me </h1>
    <p>Motivated and ambitious junior Full-Stack Web Developer with a solid foundation in HTML, CSS, JavaScript, and Python. Recently completed a 
    Diploma in Full Stack Development at Code Institute and Future Tech Software Developer program, gaining proficiency in C# and SQL, with a 
    strong interest in database management. I bring 13 years of management experience from the restaurant industry, excelling in staff training
    and customer service. Eager to leverage my coding skills and best practices to write clean, maintainable code in a professional setting. 
    Dedicated to continuous learning and excited to contribute to a dynamic team. Recently, my team won first place in a project competition 
    featuring Windows Forms and presentation at Cenit College.
</p>
</div>
{% endblock %}
