{% extends "Portfolio/base.html" %}
{% load static %}
{% block title %}About {% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="about-container my-5">
        <h1 class="about-title text-center">{{ title }}</h1>
        <p class="about-description">{{ description }}</p>
        <div class="experience-container mt-5">
            <h2>My Experience</h2>
            {% for experience in experiences %}
            <div class="experience-item mb-4">
                <h3>
                    <i id="folder-icon-{{ forloop.counter0 }}" class="fa-regular fa-folder" onclick="toggleExperienceDetails({{ forloop.counter0 }})"></i> {{ experience.job_title }}
                </h3>
                <h4>{{ experience.company }}</h4>
                <div id="experience-details-{{ forloop.counter0 }}" class="experience-details collapse">
                    <p><strong>From:</strong> {{ experience.start_date }} <strong>To:</strong> {% if experience.end_date %}{{ experience.end_date }}{% else %}Present{% endif %}</p>
                    <p>{{ experience.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}